body {
    font-family: "Jua", sans-serif;
    padding: 20px;
    font-family: "Jua", sans-serif !important;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    font-family: "Jua", sans-serif !important;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

button {
    padding: 6px 12px;
    border: none;
    background: #444;
    color: white;
    border-radius: 6px;
    font-family: "Jua", sans-serif !important;
}
button:hover { background: black; }

.modal {
    display:none;
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0);
    font-family: "Jua", sans-serif !important;
}

.modal-content {
    width: 350px;
    background: white;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
}
