
button,
.paw-tab,
.draw-btn,
.add-friend-btn {
  font-family: "Jua", sans-serif !important;
}

body {
  margin: 0;
  font-family: "Jua", sans-serif;
  background: #ffffff;
}


.room-body {
  width: 100%;
  min-height: 100vh;
  background: #f2f2f2;
  display: block;
  overflow-x: hidden;
}

.user-basic {
  display: flex;
  flex-direction: column;
}

.user-header {
  padding: 15px 20px ;
}

.user-info-row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #333;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-name {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.user-level-coins {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.coin {
  color: #e0a800;
  font-weight: 600;
}

.friend-list {
  margin-top: 4px;
  font-size: 12px;
  max-height: 60px;
  overflow-y: auto;
}

.room-extra-controls {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 6px;
}

.room-sub-btn {
  padding: 5px 12px;
  border-radius: 12px;
  border: 2px solid #333;
  background: #fff;
  cursor: pointer;
}

.room-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 20px;
}


#roomArea {
  position: relative;
  width: min(900px, 90vw);
  height: auto;
  aspect-ratio: 4 / 3;
  margin: auto;
  overflow: hidden;
  border-radius: 20px;
  background: white;
}


.room-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#furnitureLayer {
  position: absolute;
  inset: 0;
}

.room-info {
  padding: 6px 18px;
  border-radius: 999px;
  background: #ffffff;
  border: 2px solid #000000;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  display: inline-block;
}

.room-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #333;
  background: #fff;
  font-size: 22px;
  cursor: pointer;
  z-index: 999
}

.room-nav.left {
  left: calc(50% - 480px); 
}

.room-nav.right {
  right: calc(50% - 480px);
}

@media (max-width: 1000px) {
  .room-nav.left {
    left: 10px;
  }
  .room-nav.right {
    right: 10px;
  }
}

.fab,
#toggleFurnitureBtn {
  position: fixed;
  right: 20px;
  bottom: 24px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #222;
  background: white;
  background-image: url("../img/main/paw-button.png"); 
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

#toggleFurnitureBtn {
  left: 20px !important;
  right: auto !important;
} 

#furniturePanel {
  position: fixed;
  top: 110px;
  right: 0;
  width: 260px;
  height: calc(100vh - 130px);
  background: rgba(255, 255, 255, 0.95);
  border-left: 2px solid #ccc;
  padding: 15px;
  overflow-y: auto;
  border-radius: 20px 0 0 20px;
  transform: translateX(110%);
  transition: transform 0.35s ease;
  z-index: 1000;
}

#furniturePanel.open {
  transform: translateX(0);
}

.panel-tabs {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 18px;
}

.paw-tab {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 18px;
  border-radius: 22px;
  background: #ffffff;
  border: 2px solid black;
  color: #000000;
  cursor: pointer;
  font-size: 17px;
  transition: all 0.25s ease;
  width: auto !important;
  white-space: nowrap;
}

.paw-tab::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/main/paw-button.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(0); 
}

.paw-tab.active {
  background: #000000;
  color: #ffffff;
  border-color: #000;
}

.paw-tab.active::before {
  filter: invert(1); 
}

.horizontal-tabs {
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  gap: 10px;
}

.furniture-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-height: 160px;
  overflow-y: auto;
  justify-content: center;
  margin-bottom: 16px;
}

.furniture-item {
  width: 64px;
  height: 64px;
  border-radius: 12px;
  background: #fff5f5;
  border: 1px solid #d3d3d3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.furniture-item img {
  max-width: 90%;
  max-height: 90%;
}


.draw-btn {
  width: 100%;
  padding: 12px;
  border-radius: 999px;
  border: 2px solid #000;
  background: #fff;
  color: #000;
  font-size: 18px;
  cursor: pointer;
  transition: 0.25s ease;
}

.draw-btn:active {
  background: #000;
  color: #fff;
}

.furniture-controls button {
  padding: 2px 4px;
  font-size: 10px;
  border-radius: 6px;
  border: 1px solid #000000;
  background: #fff;
  cursor: pointer;
}

.room-furniture {
  position: absolute;
  cursor: move;
  transform-origin: center center;
  background: transparent !important;}

.room-furniture img {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.room-furniture.locked .bottom-controls button[data-act="bigger"],
.room-furniture.locked .bottom-controls button[data-act="smaller"],
.room-furniture.locked .bottom-controls button[data-act="rotL"],
.room-furniture.locked .bottom-controls button[data-act="rotR"],
.room-furniture.locked .bottom-controls button[data-act="delete"],
.room-furniture.locked .bottom-controls button[data-act="confirm"] {
    display: none;
}

.room-furniture:not(.locked) .bottom-controls button[data-act="edit"] {
    display: none;
}

#controlPanel {
  position: absolute;
  left: 10px;
  top: 120px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 2000;
}

#controlPanel button {
  width: 50px;
  height: 40px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  background: #ffffff;
  cursor: pointer;
}

#controlPanel button:disabled {
  background: #ffffff;
  cursor: default;
}

.room-furniture.selected {
  outline: none !important;
  box-shadow: none !important;
}

.room-furniture.locked.selected {
  outline: none !important;
  box-shadow: none !important;
}

.room-furniture.locked:hover {
  outline: none !important;
  box-shadow: none !important;
  cursor: default;
}

.room-area-delete {
  animation: room-delete 0.35s ease forwards;
}

@keyframes room-delete {
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

#addRoomBtn,
#addFriendBtn,
#deleteRoomBtn,
#renameRoomBtn,
#roomShareBtn {
  padding: 3px 9px;
  border-radius: 10px;
  border: 2px solid #333;
  background: #ffffff;
  cursor: pointer;
  font-family: "Jua";
}

#deleteRoomBtn {
  border-color: #d90000;
  color: #d90000;
}

.top-room-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  padding: 5px 20px;
  gap: 10px;
}

.room-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

body.profile-body #controlPanel {
  display: none !important;
}

.room-top-bar {
  display: flex;
  flex-direction: column;  
  align-items: center;         
  justify-content: center;
  gap: 8px;                    
  margin-top: 16px;
  margin-bottom: 10px;
}

.room-tabs {
  display: flex;
  gap: 6px;
}

.room-tabs button {
  padding: 6px 12px;
  border: 1px solid #333;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
  font-family: "Jua";
}

.room-tabs button.active {
  background: #000;
  color: #fff;
}

.center-room-info-area {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-section {
  width: 100%;
  background: white;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6; 
}