body,.btn , .email , .login_box {
  font-family: "Jua", sans-serif;
  font-style: normal;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Bagel Fat One", system-ui;
  font-style: normal;
}
.check {
            color: green;
            font-size: 14px;
            display: none;
        }
.error {
            color: red;
            font-size: 14px;
            display: none;
        }

table {
    width: 280px;
    height: 550px;
    margin: auto;      
}

.login_box{
    width: 320px;
    margin: 100px auto;
    padding: 30px 25px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.15);  
}

.email {
    width: 127px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-color: lightgray;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233,233,233);
}

.text {
    width: 100%;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233,233,233);
}
select {
    width: 100px;
    height: 32px;
    font-size: 15px;
    border: 1;
    border-color: lightgray;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
}
.btn {
    width: 100%;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(212, 212, 212);
}
.btn:active {
    width: 262px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(115, 115, 115);
}

.email-row {
    display: flex;
    align-items: center;
    gap: 10px;            
    width: 100%;
}

.email-row .email-input {
    flex: 1; 
    height: 40px;             
    border: 0;
    border-radius: 20px;      
    padding-left: 15px;
    font-size: 15px;
    background-color: rgb(233,233,233);
}

.email-row span {
    font-weight: bold;
    font-size: 18px;
}


