
body {
  font-family: "Jua", sans-serif;
  font-style: normal;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Bagel Fat One", system-ui;
  font-style: normal;
}
header {
    position: relative;
    height: 100vh;            
    width: 100%;
    background-image: url("assets/img/main/web1.jpg");
    background-size: cover;   
    background-repeat: no-repeat;
    background-position: center;
    display: flex;           
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-top: 5vh;
    background-attachment: scroll;
}

.header-box {
    position: absolute;
    top: 30%;       
    width: 100%;
    text-align: center;
}

header h1 {
    font-size: 7vw;
    margin-bottom: 0.5vw; 
    font-family: "Bagel Fat One", system-ui 
}

header p {
    font-size: 3vw;
    margin-top: 0;   
}

.main-btn {
    display: inline-block;
    padding: 1rem 2.5rem;
    font-size: 2vw;
    font-family: "Jua", sans-serif;

    background-color: white;      
    color: black;                  
    border: 3px solid black;       
    border-radius: 25px;

    text-decoration: none;
    margin-top: 0;
    transition: 0.25s ease;     
}

.main-btn:hover,
.main-btn:active {
    background-color: black;      
    color: white;                 
    border-color: black;         
    transform: translateY(-3px);   
}
@media (min-width: 1280px) {
    .header-box {
        top: 5%;   
    }
}

